<div class="container">
  <div class="chat-input">
    <input [(ngModel)]="userInput" type="text" placeholder="Ask your question">
    <button (click)="sendQuestion()">Send</button>
  </div>
  <div class="chat-suggestions">
    @for (suggestion of suggestions; track $index) {
    <button (click)="sendQuestion(suggestion)">{{suggestion}}</button>
    }
  </div>

  <div class="chat-output">
    @for (output of promptOutputs; track $index) {
    <div class="chat-message">
      <p><span class="text-bold">Q:</span> {{output.prompt}}</p>
      <p><span class="text-bold">A:</span> {{output.output}}</p>
    </div>
    }
  </div>
</div>